<div class="row">
  <div class="col-md-6">
    <div class="quix-box custom-box">
     <div class="question-number">Question No: 1/5<span style="float:right">1:5</span></div>

      <div class="question-text" style="text-align:justify;">This is my Question ?</div>

      <div class="option-container">
        <div class="option" style="text-align:justify" id="0" [style.animation-delay.s]="1">My Option A</div>
        <div class="option" style="text-align:justify" id="1" [style.animation-delay.s]="2">My Option B</div>
        <div class="option" style="text-align:justify" id="2" [style.animation-delay.s]="3">My Option C</div>
        <div class="option" style="text-align:justify" id="3" [style.animation-delay.s]="4">My Option D</div>

      </div>
      <div align="center">
        <button type="button" class="btn"  >Next</button>
      </div>
      <div class="answers-indi">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>


    </div>
    <div class="result-box custom-box" style="height:100vh;">
      <h1>Quiz Result</h1>
      <table>
        <tr>
          <td>Total Questions</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Correct Answers</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Wrong Answers</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Percentage</td>
          <td>60%</td>
        </tr>
      </table>

    </div>

  </div>

</div>
